<!DOCTYPE html>
<html lang="en-us">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="dallas borealis" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />

</head>
<body>
  <nav>
    <p>
      <a href="/">dallas borealis</a> &#8250; see | save | share
    </p>
  </nav>
  <article>

    {{ content }}

  </article>
  <footer>
    <p>
      dallas borealis <br />
      see | save | share
    </p>
  </footer>


</body>
</html>
