<!DOCTYPE html>
<html lang="en-us">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="dallas borealis" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>
  <article>
    <h1><a href="/">dallas borealis</a></h1>
    <p class="subtitle">Sees, saves, shares</p>
    <section>

      {{ content }}

   <section>
      <p class="subtitle">
         dallas borealis<br />
         Sees, saves, shares<br />
         dallas.borealis@gmail.com<br />
         <a href="http://dallas-borealis.github.io/atom.xml">
           Subscribe to RSS Feed.
         </a>
    </section>
  </article>

</body>
</html>
