<!DOCTYPE html>
<html lang="en-us">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="dallas borealis" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>
  <article>
    <h1><a href="/">dallas borealis</a></h1>
    <section>

      {{ content }}
       
    </section>
   <section>
      <p class="subtitle">
         dallas borealis &#8250; see | save | share
       </p>
    </section>
  </article>

</body>
</html>
